<div id="container">
    <canvas id="canvasOutput"></canvas>
    <video autoplay="true" id="videoElement"></video>
</div>

<div class = 'video'>
    <img id="image">
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://docs.opencv.org/4.5.0/opencv.js"></script>
<script>
    function onloadCallback() {
        console.log('loaded')
        var socket = io('127.0.0.1:5000');

        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });

        const video = document.querySelector("#videoElement");

        video.width = 500; 
        video.height = 375;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }

        let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
        let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
        let cap = new cv.VideoCapture(video);

        const FPS = 22;

        setInterval(() => {
            var ret, frame = cap.read(src);

            console.log(ret)
            console.log(frame)

            var type = "image/png"
            var data = document.getElementById("canvasOutput").toDataURL(type);
            data = data.replace('data:' + type + ';base64,', ''); //split off junk at the beginning

            socket.emit('image', data);
        }, 10000/FPS);


        socket.on('response_back', function(image){
            const image_id = document.getElementById('image');
            image_id.src = image;
        });
    }


    if (cv.getBuildInformation)
    {
        console.log(cv.getBuildInformation());
        onloadCallback();
    }
    else
    {
        // WASM
        cv['onRuntimeInitialized']=()=>{
            console.log(cv.getBuildInformation());
            onloadCallback();
        }
    }

</script>